@page
@model IndexModel
@{
    ViewData["Title"] = "About us";
}
<head>
    <title>About Us</title>
    <style>
        .block{
            text-align: center;
        }
    </style>
</head>
    <body>
        <div class="block">
            <h1 class="display-4" contextmenu="align-center">We are Ribbonwood</h1>
            <p>
                Ribbonwood is a business that deals in the purchase, resale, and creation of Dungeons and Dragons themed merchandise.
                Our goal is to offer our customers of all ages a wide variety of Dungeons & Dragons content. We plan to make the experience
                of using our site as enjoyable and user friendly as possible and have high quality customer service for those times when things go wrong.
                By using our store, new and returning players or enthusiasts will feel at home with our competitively fair pricing for products to start or continue a prosperous
                adventuring journey. Our business started from the minds of D&D players who felt that getting everything was always too expensive on its own. Instead we wanted affordable bundles that
                anyone would enjoy. From there we released individual products as a bundle is not alwasy wanted and we wish to cater to the wants and needs of the populace. We hope that our services
                can allow you to have a magical experience without feeling like your being chased by a rabid bugbear.
            </p>
        </div>

    </body>
