@page
@model IndexModel
@{
    ViewData["Title"] = "Contact us";
}

<h1>Contact us!</h1>
<p>We would love to hear from you.</p>

<h2>Phone</h2>
<p>(123)456-7891</p>

<h2>Email</h2>
<p>ribbonwood@outlook.com</p>

<h2>Facebook</h2>
<p>search for Ribbonwood</p>