@page
@model Ribbonwood.Pages.FAQModel
@{
    ViewData["Title"] = "FAQ";
}
<h1>@ViewData["Title"]</h1>
<br />

<p>Q: Does Ribbonwood ship internationally?</p>
<p>A: Since we are just a start up company at them moment we only ship nationally. However, depending on success we may ship internationally in the near future.</p>
<hr style="border:2px solid black;" />

<p>Q: Does the company cheap out to make the bundles cheaper?</p>
<p>A: Not at all. We value you as a customer and would not dare to give less than good quality products. After all, the company was made by players for players.</p>
<hr style="border:2px solid black;" />

<p>Q: What form of transportation is used for shipment?</p>
<p>A: We ship through USPS.</p>
<hr style="border:2px solid black;" />

<p>Q: I want to return my purchase, what do I do?</p>
<p>A: If you want to return a purchase please mail it back with the return to sender card provided with each purchase. Expect a refund in 2-4 business days upon our recieving of the return.</p>
<hr style="border:2px solid black;" />

<p>Q: How long until a sold out item restocks?</p>
<p>A: Depending on the popularity of the item, shipments may vary. Very popular items will be restocked by the following Monday. Less popular may take up to a month to restock. If you would like a
    specific item, feel free to contact us and set up a custom order.</p>
<hr style="border:2px solid black;" />