@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ribbonwood</h1>
    <p><a href="https://www.pornhub.com/view_video.php?viewkey=ph5e48bc41a2411">Click here</a>.</p>
    <p>Just kidding we need to get rid of this before turning it in.</p>
</div>
