@page
@model IndexModel
@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Product page</h1>
    <p>need to add items</p>
    <p>(Dildos... lots and lots of dildos)</p>
</div>
